# RStudio specific files
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Ignore macOS DS_Store files
.DS_Store

# Ignore raw data 
experiments/example/user_input/raw_files/*

# Ignore example config files
experiments/example/config/generate_diann_spectral_library.cfg
experiments/example/config/run_diann.cfg

# Ignore database resources
experiments/example/user_input/database_resources/* 

# Ignore any of the output files
output/*

# Ignore any of the logs files
logs/*

# Ignore any of the internal snakemake files
.snakemake

#Ignore any apptainer files
apptainer/*.sif

#Ignore any raw files 
*.raw

# Ignore all experiments except example
experiments/*
!experiments/example/
!experiments/example/**


