.Rproj.user
tests/data/
.DS_Store
**/.DS_Store
.Rhistory
*.Rcheck/
*.tar.gz
conduit.rds
conduitR.Rproj

# Test artifacts
tests/testthat/*.txt
tests/testthat/*.pdf
tests/testthat/*.fasta
tests/testthat/*.rds
